@import 'variables.css';

body {
    font-family: var(--font-family-base);
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
}

.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main {
    flex-grow: 1;
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    width: calc(100% - 320px);
}

.sidebar {
    width: 320px;
    padding: var(--spacing-lg);
    background-color: var(--color-white);
    overflow-y: auto;
    border-left: 1px solid var(--color-border);
}

h1 {
    text-align: center;
    margin-bottom: var(--spacing-md);
}
